---
layout: default
title: Submit Yourself
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.categories.Sponsor %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <article>
	  <div id="wufoo-mzov3fz044keww">
		  Fill out my <a href="https://shootthemoonfilms.wufoo.com/forms/mzov3fz044keww">online form</a>.
	  </div>
	  <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com" >Wufoo</a></div>
	  <script type="text/javascript">var mzov3fz044keww;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'shootthemoonfilms', 
'formHash':'mzov3fz044keww', 
'autoResize':true,
'height':'729',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { mzov3fz044keww = new WufooForm();mzov3fz044keww.initialize(options);mzov3fz044keww.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<!--
    <h1>Interested in sponsoring?</h1>
    <p>Contact (<a href='mailto:{{site.email}}'>{{site.email}}</a>) to find out more.</p>
-->
  </article>
</div>
