{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

  <div class="container">
  {% include navigation.html %}

  <div class="panel panel-default">

{% if page.path contains "projects/2" %}
  <div class="panel-heading">
    <h3 class="panel-title">
      {% include custom/project_crumb.html %}
    </h3>
  </div>
{% endif %}

{% if page.path contains '_posts' %}
  <div class="panel-heading">
    <h3 class="panel-title">
      {% include custom/news_crumb.html %}
    </h3>
  </div>
{% endif %}

  <div class="panel-body">
      {{ content | expand_urls: root_url }}
  </div>
</div>

{% include footer.html %}
{% include after_footer.html %}

</div> <!-- container -->

</body>
</html>
